{% extends "layouts/base.html" %}

{% block title %} Chatbot IFPI {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link type="text/css" href="{{ config.ASSETS_ROOT }}/css/index-chat.css" rel="stylesheet">

<div id="chat-container" class="chat-container bg-white initial-state">
  <div class="chat-header">
    <div class="d-flex align-items-center">
       <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Logo" style="height: 40px; width: auto; margin-right: 15px;">
       <span style="font-size: 1.2rem; font-weight: 600; color: #333;">Chatbot IFPI</span>
    </div>
  </div>

  <div id="welcome-message" class="welcome-message">
      <h1>Olá, sou o Piazinho. Como posso lhe ajudar?</h1>
  </div>

  <div id="chat-box" class="chat-body">
    <!-- Conversa aparece aqui -->
  </div>

  <div class="chat-footer">
  <form id="chat-form" class="d-flex justify-content-center align-items-center gap-3" autocomplete="off">
    <input type="text" id="user-input" class="form-control form-control-lg flex-grow-1 px-4" placeholder="Enviar Mensagem ao Chatbot..." autocomplete="off" style="max-width: 85%;" aria-label="Mensagem">
    <button id="send-btn" type="submit" class="btn btn-primary btn-lg rounded-circle d-flex align-items-center justify-content-center">
      <svg id="send-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 24 24">
        <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
      </svg>
    </button>
  </form>
</div>
</div>


{% endblock content %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
 <script>
  const logoUrl = "{{ url_for('static', filename='assets/images/logo.png') }}";
</script>
 <script src="{{ config.ASSETS_ROOT }}/js/index-chat.js"></script>
{% endblock javascripts %}